////
/// Community navigation
////

.menu--community {
  .menu {
    display: flex;

    &__item {
      &:not(:last-child) {
        margin-right: 16px;
      }

      a {
        display: inline-flex;
        align-items: center;
        color: $color-black;
      }
    }
  }
}
